body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

    text-align: center;

    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    background-color: rgba(27, 27, 27, 0.521);
    color: #daf08c;
    padding: 30px;
    margin: 0;
}


h2 {
    margin-top: 40px;
    font-size: 28px;
    font-weight: 9900;
    color: rgb(255, 255, 255);
}

a {
    display: inline-block;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.603);
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    margin: 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

a:hover {
    background-color: #67c4e0;
    transform: scale(0.770);
}

.overlay {
    background-color: rgba(53, 51, 51, 0.192);
    min-height: 100vh;
    padding-top: 80px;
}